/* reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* general style */

.container{
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: 1rem;
}

/* header */

.navbar{
    height: 4rem;
    background-color: rgb(235, 116, 5);
}

.navbar .container{
    display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
}

.navbar .container > * {
	display: flex;
	align-items: center;
}

.menu{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.navbar .logo-item {
	display: flex;
	align-items: center; 
}


.navbar .logo-item a {
	height: 50%;
}

.navbar .logo-item img {
	height: 100%;
}

/* main */


.container-main{
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: 1rem;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 45px;
    justify-content: center;
}



.box{
    background-color: rgb(1, 0, 8);
    float: left;
    width: calc(100% / 3 - 30px);
}

.photo{
   width: 100%;
   height: 100%;
}

.brand{
    color: white;
    font-family: 'Tilt Warp', cursive;
    position: relative;
}

.type{
    color: white;
    font-family: 'Poppins', sans-serif;
    
}

.price{
    color: red;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.clearfix::after{
    content: "";
    clear: both;
    display: block;
}